.menu-topo {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center; 

}
.container li {
  list-style: none;
}
.container a {
  text-decoration: none;
  color: white;
}
.container a:hover {
  color: burlywood;
}


